html{
  font-size: 13px;
}

.MuiSelect-select{
  padding: 0 !important;
  padding-left : .6rem !important ;
  outline : none !important ;
  border : none !important ;
}
.MuiInputBase-root{
    border : none !important ;
    outline: none !important;
}
.MuiFormControl-root{
    border: none !important;
}

.MuiInputBase-formControl{
    outline :none !important ;
    border: none !important;
}
.Mui-focused{
    outline :none !important ;
    border: none !important;
}
.disabledInputClass{
    height: 1.6rem ;
    width: 15rem;
    border: none;
    outline: none;
    padding-left: .7rem ;
    background-color: white;
    font-size: .9rem;
}
.disabledInputClass:disabled{
    cursor: not-allowed;
    background: "white",
}
.disabledInputClass::placeholder{
    color: rgb(110, 110, 110);
    font-size: .9rem;
}
.activeInput::placeholder{
    color: rgb(197, 197, 197);
}
.changePlaceHolderColor::placeholder{
    color: red;
}
.no-padding-icon-button {
    padding: 0 !important;
  }
.remove-padding{
    padding: 0;
}

/* ========================================= */
.dropdown-menu-container {
    position: relative;
  }
  
  .icon-container {
 
    position: relative;

    width : 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .icon-container::after{
    content: "";
    height: 40%;
    width: 40%;
    background-color: white;
    top: 85%;
    left: 30%;
    position: absolute;
    z-index: 100;
  }
  
  .icon-container img {
    display: block;
    background-color: green; /* Set the background color of the icon */
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: green; /* Set the background color of the dropdown menu */
    padding: 10px;
    width : 8rem;
    z-index: 10;
  }
  
  .dropdown-menu-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue; 
    z-index: -1;
  }
  
  .dropdown-menu-container:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu-container:hover::before {
    background-color: green; /* Change the background color of the pseudo-element */
  }
  .imaging{
    width : 1rem
     
  }
  .navMenu{

  }
  .navMenuIconContainer{
    position: relative;
    width : 3rem;
    height : 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
  }

  .serviceOptions{
    position: relative;
  }
  .servieIconContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
  }


 

  /* responsiveness breakpoints */

  /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* your styles here */
  html{
    font-size: 8px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* your styles here */
  html{
    font-size: 8px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* your styles here */
  html{
    font-size: 10px;
  }
}

/* Extra-large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 11.5px;
  }
}

/* Extra-large devices (large desktops, 1536px and up) */
@media (min-width: 1536px) {
  html{
    font-size: 12px;
    /* font-size: 12px; */
  }
}

@media (min-width: 1700px) {
  html{
    font-size: 15px;
  }
}
@media (min-width: 2300px) {
  html{
    font-size: 17px;
  }
}
@media (min-width: 2600px) {
  html{
    font-size: 20px;
  }
}
