.MuiSelect-select{
  padding: 0 !important;
  padding-left : .6rem !important ;
  outline : none !important ;
  border : none !important ;
}
.MuiInputBase-root{
    border : none !important ;
    outline: none !important;
}
.MuiFormControl-root{
    border: none !important;
}
/* .MuiSelect-outlined{
    color : #e86a6a ;
    font-weight: bolder;
}
.MuiSelect-iconOutlined{
    color : #e86a6a;
} */
/* .MuiSvgIcon-root{
    color : #e86a6a  ;
} */
.MuiInputBase-formControl{
    outline :none !important ;
    border: none !important;
}
.Mui-focused{
    outline :none !important ;
    border: none !important;
}

.disabledInputClass{
    height: 1.6rem ;
    width: 15rem;
    border: none;
    outline: none;
    padding-left: .7rem ;
    background-color: white;
}
.disabledInputClass:disabled{
    cursor: not-allowed;
    background: "white",
}
.disabledInputClass::placeholder{
    color: rgb(110, 110, 110);
}
.activeInput::placeholder{
    color: rgb(197, 197, 197);
}

